* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica;
    background-color: #e6e6e6;
}
 

#header {
    background-color: rgb(181, 9, 9);
    display: inline-block;
    padding: 10px;
    width: 100%;  
    font-size: 14px;
}

#navbar {
    background-color: rgb(255, 255, 255);
    align-items: center;
    width: 100%;  
    font-size: 14px;
}
.nav_btn {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    margin-left: 500px;     
}
#Shop {
    float: left; 
    margin-top: -35px;
    margin-left: 400px;
    width: 25%;
    height: 280px;
}
#Contact {
    float: left; 
    width: 50%;
    margin-top: -278px;
    margin-left: 1000px;
    height: 280px;
}
#About {
    float: right; 
    width: 15%;
    margin-top: -278px;  
}
.nav_btn:hover {
    color: rgb(181, 9, 9); 
    margin-left: 500px;     
}


.dropdown {
    position: relative;
    display:flex;
    justify-content: flex-end;
    margin-right: 45px;
    align-items: center;
    gap: 20px;
    padding:5px;
}

.dropdown_menu { 
    position: absolute;  
    top: 40px; 
    margin-right: 70px;
    color: black;
    background-color: white;
    padding: 0.75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity:0;
    pointer-events:none;
    transform: translateY(-12px) translateX(60%);
    transition:opacity 150ms ease-in-out,transform 150ms ease-in-out;
} 
.dropdown.active > .dropdown_button + .dropdown_menu{
    opacity:1;
    transform:translateY(0) translateX(60%);
    pointer-events:auto;
}
.dropdown_button{
    color:rgb(238, 238, 238);
    border-color:transparent;
    background-color:transparent;  
}
.dropdown.active> .dropdown_button,
.dropdown_button:hover {
    color:rgb(204, 204, 204);
    transition: opacity 400ms ease-in-out;
}
#contact{
    text-decoration:none;
    color:rgb(233, 233, 233);
}

#contact:hover{
    color: rgb(207, 207, 207);
    transition: opacity 400ms ease-in-out;
}

 
.input-box {
    position: relative;
    width: 75%;
    left: 25px;
    height: fit-content;
}

.input-box span {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%); 
    z-index: 20;
    pointer-events: none;
    transition: all 0.2s ease;
}

.login_create {
    border: 0.2rem rgb(181, 9, 9) solid;
    font-size: inherit;
    outline: none;
    background: none;
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    width: 100%;
}
.login_btn {
    font-size: inherit;
    outline: none;
    border-color: transparent ;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    margin-left: 50px;
}
.login_btn:hover {
    background-color:rgb(207, 207, 207);
}

.login_create:focus {
    border-color: 0.2rem rgb(181, 9, 9) solid;
}

.login_create:focus+span,
.login_create:not(:placeholder-shown)+span {
    font-size: 0.9em;
    color: 0.2rem rgb(181, 9, 9) solid ;
    top: -1px;
    background-color: white;
    padding: 0 0.5em;
    border-radius: 2em;

}

.login_create:focus+span {
    color: 0.2rem rgb(181, 9, 9) solid;
}

form{
    display:flex;
    flex-direction:column;
    gap: 5px;
}   

#Logo{ 
    margin-left:35px; 
    margin-top:13px; 
    width: 5%
}

#leftbox {
        float: left;
        background: Red;
        width: 25%;
        height: 280px;
}
#middlebox {
    float: left;
    background: Green;
    width: 50%;
     margin-top:-250px ;
    height: 280px;
}
        
#rightbox {
    float: right;
    background: blue;
    width: 25%;
    margin-top:-250px ;
    height: 280px;
}